  <nav class="navbar">
    <button class="nav-arrow left-arrow" aria-label="Scroll left">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
    </button>
    <div class="nav-center">
        @for(item of navbarItems; track item.id){
          <a
          [routerLink]="item.route"                 routerLinkActive="active-tab"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
          title="{{ item.label }}"
          >
          <!-- <ng-icon [name]="item.iconPath" class="nav-icon-img"></ng-icon> -->
          <mat-icon [svgIcon]="item.iconPath"></mat-icon>
         <span class="nav-label">{{ item.label }}</span>
       </a>
      }
    </div>
    <button class="nav-arrow right-arrow" aria-label="Scroll right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
    </button>
  </nav>