<div class="dashboard">
    <div class="dashboard-row">
      <div class="card work-queue">
        <app-work-queue></app-work-queue>
      </div>
  
      <div class="card portfolio-goals">
        <app-portfolio-goals></app-portfolio-goals>
      </div>
  
      <div class="card quick-actions-group">
        <div class="quick-actions">
          <app-quick-actions></app-quick-actions>
        </div>
        <div class="market-intel">
          <app-market-intel></app-market-intel>
        </div>
      </div>
    </div>
  
    <div class="dashboard-row">
      <div class="card my-accounts">
        <app-my-accounts></app-my-accounts>
      </div>
    </div>
  </div>